<template>
  <card title="Daftar Pegawai">
    {{ $t('you_are_logged_in') }}
    <h1>Terdapat {{ count}} pegawai</h1>
    <router-link to="/employee/create" class="btn btn-primary ">
        Create
    </router-link><br/><br/>
    <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Job Title</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col" colspan="2">aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="employee in emp" :key="employee.id" >
      <th scope="row">1</th>
      <td>{{ employee.name }}</td>
      <td>{{ employee.job_title }}</td>
      <td>{{ employee.date_of_birth }}</td>
      <td><router-link :to="'/employee/update/' + employee.id "><fa icon="edit" fixed-width/></router-link></td>
      <td><button @click="deleteData(employee)"><fa icon="trash" fixed-width/></button></td>
    </tr>
  
  </tbody>
</table>


  </card>
</template>


<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
  middleware: 'auth',

    // meta : {
    //     permission : 'empoyee.list',
    // },
  head () {
    return { title: 'daftar pegawai' }
  },
  async asyncData(context){
       let res = (await axios.get("employee")).data 
       let emp = res.data
       let count = res.count
       return {
           emp,
           count
         } 
  },
  methods : {
     async refreshData(){
            let res = (await axios.get("employee")).data 
            let employe = res.data

            this.emp = employe
      },
       async deleteData(employee){
           let result =  await Swal.fire({
                    icon: 'warning',
                    title: "konfimasi",
                    text: "yakin akan mneghapus data ini ?",
                    reverseButtons: true,
                    showCancelButton: true,
                    confirmButtonText: "ok",
                    cancelButtonText: "batal"
                })
                if(result.isConfirmed){
                         let res = (await axios.delete("employee/" + employee.id)).data 
                            Swal.fire({
                                icon: 'error',
                                title: 'berhasil',
                                text: 'data berhasil dihapus',
                                reverseButtons: true,
                                confirmButtonText: 'ok',
                            
                            })
                     this.refreshData       
                }
            

        }  
    }
}
</script>