<template>
  <card title="Update Pegawai">
    {{ $t('you_are_logged_in') }}
    <h1>Update Data Pegawai</h1>
    <router-link to="/employee" class="btn btn-info ">
        Kembali
    </router-link><br/><br/>

  <form @submit.prevent="save">
  <div class="form-group row">
    <label for="Name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text"  class="form-control" id="name" placeholder="Name" v-model="form.name">
    </div>
  </div>
  <div class="form-group row">
    <label for="date_birth" class="col-sm-2 col-form-label">Date Of Birth</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="date_birth" placeholder="date_birth" v-model="form.date_of_birth">
    </div>
  </div>
  <div class="form-group row">
    <label for="job_title" class="col-sm-2 col-form-label">Job title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="job_title" placeholder="job_title" v-model="form.job_title">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" :disabled="loading">Save</button>
    </div>
  </div>
</form>


  </card>
</template>


<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
  middleware: 'auth',

    // meta : {
    //     permission : 'empoyee.list',
    // },
  head () {
    return { title: 'update pegawai' }
  },
  async asyncData(context){  
      let resp = (await axios.get("employee/"+ context.params.id)).data
      let form = resp.data
      console.log("data " + form) 
        return {
                 form

            }
        
     
  },
  data(){
      return {
           
            loading : false
        }
  },
  methods:{
    async save(){
        this.loading =  true
        let resp =  (await axios.patch('employee/'+ this.$route.params.id , this.form)).data
         Swal.fire({
                icon: 'error',
                title: 'berhasil',
                text: 'data berhasil diubah',
                reverseButtons: true,
                confirmButtonText: 'ok',
              
      })
    //   this.loading = false
    //   this.form.name = ""
    //   this.form.date_of_birth = ""
    //   this.form.job_title = ""
    }     
  }
}
</script>