<template>
  <card title="Create Pegawai">
    {{ $t('you_are_logged_in') }}
    <h1>Input Data Schedul</h1>
    <router-link to="/employeeschedule" class="btn btn-info ">
        Kembali
    </router-link><br/><br/>

  <form @submit.prevent="save">
  <div class="form-group row">
    <label for="Name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <select class="form-control" v-model="form.employee_id" id="employee_id">
                <option v-for="employee in emp" :key="employee.id" v-bind:value="employee.id">
                    {{ employee.name }}
                </option>
        </select> 
        
    </div>
  </div>
  <div class="form-group row">
    <label for="date_birth" class="col-sm-2 col-form-label">Schedule</label>
    <div class="col-sm-10">
        <select class="form-control" v-model="form.work_schedule_id" id="work_schedule_id">
                <option v-for="schedule in sche" :key="schedule.id" v-bind:value="schedule.id">
                    {{ schedule.name }}
                </option>
               
        </select>
      
    </div>
  </div>
  <div class="form-group row">
    <label for="job_title" class="col-sm-2 col-form-label">Tanggal</label>
    <div class="col-sm-10">
      <input type="date" v-model="form.date" class="form-control" placeholder="tanggal" id="date">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" :disabled="loading">Save</button>
    </div>
  </div>
</form>


  </card>
</template>


<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
  middleware: 'auth',

    // meta : {
    //     permission : 'empoyee.list',
    // },
  head () {
    return { title: 'create pegawai' }
  },
  async asyncData(context){  
        let res = (await axios.get("employee")).data 
        let emp = res.data
         let response = (await axios.get("workschedule")).data 
         let sche = response.data


        return {
           emp,
            sche
            } 
  },
  data(){
      return {
            form : {
                employee_id: '',
                work_schedule_id: '',
                date: ''

            },
            loading : false
        }
  },
  methods:{
    async save(){
       
        this.loading =  true
        let resp =  (await axios.post('employeeschedule', this.form)).data
       if(resp.success){
            Swal.fire({
                icon: 'success',
                title: 'berhasil',
                text: 'data berhasil disimpan',
                reverseButtons: true,
                confirmButtonText: 'ok',
              
            })
       }else{
              Swal.fire({
                icon: 'error',
                title: 'gagal menyimpan data',
                text: resp.message,
                reverseButtons: true,
                confirmButtonText: 'ok',
              
              })
       }
      this.loading = false
      this.form.name = ""
      this.form.date_of_birth = ""
      this.form.job_title = ""
    }     
  }
}
</script>